<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="mainCtrl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" href="image/logo_h3c_red.png" type="image/x-icon">
    <title>图像识别</title>
    <link rel='stylesheet' href='assets/css/bootstrap.min.css'>
    <link rel='stylesheet' href='assets/css/bootstrap-table.min.css'>
    <link rel="stylesheet" href="assets/css/fileinput.min.css">
    <link rel="stylesheet" href="assets/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="assets/css/edu.css">
    <link rel="stylesheet" href="assets/js/slidebar/css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="assets/js/slidebar/css/custom_slidebar.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/js/ui-chose/src/ui-choose.css">
    <link rel="stylesheet" href="assets/css/bootstrap-multiselect.css">

    <!--依赖js-->
    <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-ui-router.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-table.min.js"></script>
    <script src="assets/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="assets/js/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="assets/js/fileinput.min.js"></script>
    <script src="assets/js/echarts/echarts.js"></script>
    <script src="assets/js/zh.js" type="text/javascript" charset="utf-8"></script>
    <script src="assets/js/ztree/jquery.ztree.core.js"></script>
    <script src="assets/js/ztree/jquery.ztree.excheck.js"></script>
    <script src="assets/js/ztree/jquery.ztree.exedit.js"></script>
    <script src="assets/js/laydate/laydate.js"></script>
    <script src="assets/js/ui-chose/src/ui-choose.js"></script>
    <script src="assets/js/bootstrap-multiselect.js"></script>
    <script src="assets/js/slidebar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/js/slidebar/js/custom.js"></script>

    <!--自定义js-->
    <script src="script/app.js"></script>

    <style type="text/css">
        #btn_handle .btn-group-lg>.btn, .btn-lg {
            padding: 10px 16px;
            font-size: 30px;
            line-height: 1.3333333;
            border-radius: 6px;
        }
        .commentText {
            font-size: 20px;
            margin-top: 20px;
            margin-left: 5px;
        }
        .nav-tabs>li>a {
            margin-right: 2px;
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
            font-size: 25px;
        }
    </style>
</head>
<body style="background-color:gainsboro">
<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-xs-12">
            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-size: 35px">
                            显示图片区域
                        </h3>
                    </div>
                    <div id="showimg" align="center" class="panel-body" style="height:800px">
                        <!--测试-->
                        <!--<img src="upload/2.png" style="height: 100%; width: 100%;">-->
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-size: 35px">
                            识别的内容
                        </h3>
                    </div>
                    <div class="panel-body" style="height:800px">
                        <div class="row">
                            <!--导航区-->
                            <ul id="categoryTab" class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tickCode" role="tab" data-toggle="tab">发票代码</a>
                                </li>
                                <li role="presentation"><a href="#tickNum" role="tab" data-toggle="tab"> 发票编号</a></li>
                                <li role="presentation"><a href="#tickDate" role="tab" data-toggle="tab">开票日期</a></li>
                                <li role="presentation"><a href="#tickName" role="tab" data-toggle="tab">购买方名称</a></li>
                                <li role="presentation"><a href="#tickIden" role="tab" data-toggle="tab">购买方识别号</a></li>
                                <li role="presentation"><a href="#tickCount" role="tab" data-toggle="tab">票据金额</a></li>
                            </ul>
                            <!--面板区-->
                            <div id="categoryTabContent" class="tab-content">
                                <!--发票代码-->
                                <div role="tabpanel" class="tab-pane fade in active" id="tickCode">
                                    <div style="height: 650px">
                                        <div class="commentText">获取图片:</div>
                                        <div id="tickCodeImg" align="center" class="panel-body"
                                             style="height:200px"></div>
                                        <div class="commentText">识别结果:</div>
                                        <div id="tickCodeText" align="center" class="panel-body"
                                             style="height:200px"></div>
                                    </div>
                                </div>

                                <!--发票编号-->
                                <div role="tabpanel" class="tab-pane fade" id="tickNum">
                                    <div style="height: 650px">
                                        <div class="commentText">获取图片:</div>
                                        <div id="tickNumImg" align="center" class="panel-body"
                                             style="height:200px"></div>
                                        <div class="commentText">识别结果:</div>
                                        <div id="tickNumText" align="center" class="panel-body" style="height:200px">
                                        </div>
                                    </div>
                                </div>

                                <!--开票日期-->
                                <div role="tabpanel" class="tab-pane fade" id="tickDate">
                                    <div style="height: 650px">
                                        <div class="commentText">获取图片:</div>
                                        <div id="tickDateImg" align="center" class="panel-body"
                                             style="height:200px"></div>
                                        <div class="commentText">识别结果:</div>
                                        <div id="tickDateText" align="center" class="panel-body" style="height:200px">
                                        </div>
                                    </div>
                                </div>

                                <!--购买方名称-->
                                <div role="tabpanel" class="tab-pane fade" id="tickName">
                                    <div style="height: 650px">
                                        <div class="commentText">获取图片:</div>
                                        <div id="tickNameImg" align="center" class="panel-body"
                                             style="height:120px"></div>
                                        <div class="commentText">识别结果:</div>
                                        <div id="tickNameText" align="center" class="panel-body" style="height:200px">
                                        </div>
                                    </div>
                                </div>

                                <!--购买方识别号-->
                                <div role="tabpanel" class="tab-pane fade" id="tickIden">
                                    <div style="height: 650px">
                                        <div class="commentText">获取图片:</div>
                                        <div id="tickIdenImg" align="center" class="panel-body"
                                             style="height:120px"></div>
                                        <div class="commentText">识别结果:</div>
                                        <div id="tickIdenText" align="center" class="panel-body" style="height:200px">
                                        </div>
                                    </div>
                                </div>

                                <!--发票金额-->
                                <div role="tabpanel" class="tab-pane fade" id="tickCount">
                                    <div style="height: 650px">
                                        <div class="commentText">获取图片:</div>
                                        <div id="tickCountImg" align="center" class="panel-body"
                                             style="height:120px"></div>
                                        <div class="commentText">识别结果:</div>
                                        <div id="tickCountText" align="center" class="panel-body" style="height:200px">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id = "btns" class="col-xs-12">
            <div class="col-xs-4">
                <!--图片上传-->
                <input id="iconUpload" type="file" name="myfile">
            </div>
            <div class="col-xs-4" style="margin-top: -15px">
                <div style="float:right">
                    <button id="btn_handle" type="button" style="margin-right: 20px" class="btn btn-primary btn-lg" ng-click="handle_fn()">矫正处理</button>
                    <button id="btn_recog" type="button" class="btn btn-primary btn-lg" ng-click="recognize_fn()">识别区域</button>
                </div>
            </div>
            <div class="col-xs-4" style="margin-top: -15px">
                <button id="btn_comment" type="button" class="btn btn-primary btn-lg" style="position: relative;margin-left: 35%" ng-click="comment_fn()">
                    内容识别
                </button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        $('#categoryTab a').click(function (e) {
            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
        })
    })
</script>
</html>